@dark-color: #707070;

.Message {
  border-top: 1px solid @dark-color;
  padding-top : 10px
}

.Message p {
	word-break : break-all;
}

.Message .Header {
    font-size: 0.75em;
    color: @dark-color;
}
